<!doctype html>
<html ng-app="project">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<head>
    <title>MyDirect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- JQuery + CSS + AngularJS-->
    <script src="/javascripts/jquery/jquery.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Custom scripts and stylesheets -->
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">



</head>

<body ng-controller="IndexAppController">
<section class="main_wrapper">

    <section id="create_wrapper">
        <h1>
            MyDirect: the ultimate url shortener
        </h1>
        <br/>
        <form class="main_form">
            <div class="input-group">
                <input ng-model="input_url" class="form-control" type="text" placeholder="Place your looooong url here">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="submit_url(input_url)">Shorten my url!</button>
                </span>
            </div>
            </br>
            <div class="input-group" ng-show="short_url_is_visible">
                <input ng-model="short_url"
                       id="short_url"
                       class="form-control"
                       type="text" placeholder="{{current_webpage}}"
                       ng-change="short_url_change()"
                >
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="update_url(input_url)">Customise</button>
                </span>
                <span class="input-group-btn">
                    <a ng-click="copy_to_clipboard()" class="btn btn-info">
                        <span class="glyphicon glyphicon-copy"></span> Copy
                    </a>
                </span>
            </div>
            <br/>
            <div
                    class="alert alert-success"
                    role="alert"
                    ng-show="short_url_success">
                <b>Done!</b> Your customised URL is ready.
            </div>
        </form>
        <br/>
    </section>

    <section id="created_wrapper">
        <h3>Your stored URLs</h3>
        <div ng-repeat="entry in stored_urls | reverse" class="row">
            <div class="col-xs-1"><h4>#{{$index+1}}</h4></div>
            <div class="col-xs-11">
                <a ng-href="{{current_webpage + entry.id}}">
                    <div><h4>{{current_webpage + entry.id}}</h4></div>
                </a>
                <a ng-href="{{entry.original_url}}">
                    <div>{{entry.original_url}}</div>
                </a>
            </div>
        </div>
    </section>

</section>
</body>
</html>
