<!doctype html>
<html ng-app="project">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<head>
    <title>Glass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- JQuery + CSS + AngularJS-->
    <script src="/javascripts/jquery/jquery.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!-- Custom scripts and stylesheets -->
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body ng-controller="IndexAppController">

</body>
</html>
