<!doctype html>
<html ng-app="project">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<head>
    <title>Glass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- JQuery + CSS + AngularJS-->
    <script src="/javascripts/jquery/jquery.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Custom scripts and stylesheets -->
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">



</head>

<body ng-controller="IndexAppController">
<div class="main_wrapper">
    <h1>
        MyDirect: the ultimate url shortener
    </h1>
    <br/>
    <form class="main_form">
        <div class="input-group">
            <input ng-model="input_url" class="form-control" type="text" placeholder="Place your looooong url here">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="submit_url(input_url)">Go!</button>
            </span>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon" id="current_webpage">{{current_webpage}}</span>
            <input ng-model="short_url" class="form-control" type="text" placeholder="Your awesome url will come here" aria-describedby="current_webpage">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Customise</button>
            </span>
        </div>
    </form>
    <br/>
    <a href="#" class="btn btn-info">
        <span class="glyphicon glyphicon-copy"></span> Copy URL
    </a>

</div>
</body>
</html>
