/*
      SINCE WE ARE NOT USING TRANSPILERS
      CTRL+F everything for now
      primary brand colour: #4FA8C8
      secondary brand colour: none

      glass official font: Montserrat
      normal text font: Roboto

      primary text colour: black
      secondary text colour (aka dark shade): #757575
      error text colour: red
*/

@font-face{
    font-family: Montserrat;
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a, a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.highlighted_text {
  background-color: yellow;
  visibility: visible;
}
.text_not_visible {
  visibility: hidden;
}

/*HEADER*/
#job_app_header {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  height: 40px;
  width: 100%;
  background-color: #4FA8C8;
  color: white;
  font-size: 25px;
  display: table;
  position: fixed;
  z-index: 1;
  padding-left: 10px;
}
#job_app_title {
  margin-left: 20px;
}
#job_app_body {
  height: 100%;
  padding-top: 15px;
}
#body_container {
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
}
/*Center text vertically*/
.v_center_container {
  height: 100%;
  width: 100%;
  display: table;
}
.v_centered {
  display: table-cell;
  vertical-align: middle;
}
.v_center {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}
/*Form*/
#form_container, #error_container, #homepage_container {
  max-width: 600px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.field_name, .addition_question, .general_question {
  margin-top: 5px;
  margin-bottom: 5px;
}
.general_ques_button, .general_ques_button_selected {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.general_ques_button {
  background-color: white;
}
.general_ques_button_selected {
  background-color: #27ae60;
  color: white;
}
.button_container {
  margin-top: 15px;
  text-align: center;
}

#email_success {
  width: 100%;
  background-color: #5cb85c;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-left: -10px;
  display:none;
}

#email_sending {
  width: 100%;
  background-color: #ec971f;
  color: #fff;
  margin-left: -10px;
  padding: 10px;
  text-align: center;
  display: none;
}